<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            text-align: center; /* 수평 가운데 정렬 */
        }

        table {
            margin: 0 auto; /* 수평 가운데 정렬 */
        }
    </style>
</head>
<body>
<form>
    <table>
        <tr>
            <td>ID&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="loginID" size="13"></td>
        </tr>
        <tr>
            <td>P/W <input type="text" name="loginPass" size="13"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="확인">
                <input type="button" value="닫기" onclick="self.close();">
            </td>
        </tr>
    </table>
</form>
</body>
</html>